.meals__page {
	padding: 5rem 0;
}
.text {
	margin-top: 1rem;
}
.meals__container {
	margin-top: 5rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.loadingSpinner {
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

// single meals styles

.pageWrapper {
	padding: 10rem 0;
}
.topContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5rem;
}

.info {
	padding-top: 2rem;
}

.infoText {
	padding-top: 1rem;
}

.saveButton {
	margin-top: 2rem;
	svg {
		margin-bottom: -2.5px;
	}
}

.ingredientsTable,
.instructions {
	margin-top: 10rem;
}

.greenText {
	margin-top: 2rem;
	color: #00b300;
}

@media only screen and (max-width: 768px) {
	.topContainer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
	}
	.ingredientsTable,
	.instructions {
		margin-top: 5rem;
	}
}
