.input {
	max-width: 500px;
	background: var(--secondary-color);
	border: none;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	padding: 3rem 2rem;
	font-size: 2rem;
	outline: none;
	color: var(--white);
	border: 2px solid transparent;
	&:focus {
		border: 2px solid var(--primary-color);
	}
}
